.App {
  max-width: 1040px;
  margin: 0 auto;
}

.Header {
  max-width: 1040px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Header h1 {
  justify-content: flex-start;
}

.Header nav {
  display: flex;
  justify-content: flex-end;
}

.Header nav a {
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: 10px;
  text-decoration: underline;
}

.RecipeCard {
  border: 1px solid black;
  border-radius: 4px;
  margin: 15px;
  padding: 15px;
}

.SignupForm {
  display: flex;
  flex-direction: column;
}

.SignupForm input,
.SignupForm button {
  margin-bottom: 30px;
  max-width: 400px;
  width: 100%;
}
